[mysqld]
user = root
datadir = /app/mysql
port = 3306
log-bin = /app/mysql/mysql-bin

innodb_file_per_table=1
innodb_buffer_pool_size=1G
skip-name-resolve
query_cache_type = 1
query_cache_limit = 256K
query_cache_min_res_unit = 2k
query_cache_size = 80M
tmp_table_size= 64M
max_heap_table_size= 64M
wait_timeout=60
